<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <% if (typeof error !== "undefined") { %>
      <p><%= error %></p>
    <% } %>
    <form action="/urls/<%= shortURL%>" method="POST" style="margin:150px;", align="center">
      <label for="update">ShortURL: <%= shortURL%></label>
      <input id="update" type="text" name="update" placeholder="<%= url %>" style="width: 300px">
      <input type="submit" value="Update">
    </form>
    <div>
      <p>Date created: <%= birthday%></p>
      <p>Total Vists: <%= totalVisits%></p>
    </div>
  </body>
</html>
